{% extends "templates/base.html" %}

{% block title %}
    {{ _("INDIGO.AIRLINES") }}
{% endblock %}  

{% block content %}
<div class="container">
    {% if flights %}
        {% for flight in flights %}
            <div class="mb-10">
                <h4>{{ _("Flight Details") }}</h4>
                <ul>
                    <li><b>{{ _("Airline") }}</b>: {{ flight.airplane }}</li>
                    <li>{{ flight.source_airport_code }} &rarr; {{ flight.destination_airport_code }}</li>
                    <li>{{ flight.date_of_departure }} | {{ flight.time_of_departure }}</li>
                    <li><b>{{ _("Duration") }}</b>: {{ flight.duration }}</li>
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>{{ _("No flights found") }}</p>
    {% endif %}

    <a class="btn btn-primary btn-md" href="/aiplane-flight-ticket/new">
        {{ _("Book a Flight") }}
    </a>
</div>
{% endblock %}
